<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have more than ten years experience as an IT professional and programmer in the radio industry.
            Most of my experience is in building and maintaining complex systems, whether it is a radio automation system, 
            IT infrastructure for audio production, or transmission infrstructure to broadcast programming on-air or online. 
            Through my extensive work experience, I have learned how to learn, implement and troobleshoot new technical solutions 
            to a variety of problems, and I have learned how to dissect, troubleshoot and improve existing systems.
        </p>
        <p>
            More recently, I have learned how to write JavaScript for both frontend and backend applications, and I have learned 
            how to write REST APIs using Node.JS, Express, MongoDB and SQL. I also have taught myself React for the frontend, as well 
            as a variety of other frameworks and packages useful in modern development
        </p>
        <p>
          I have always loved building things. 
          When I am presented with an unfamiliar problem, I take it upon myself to learn about the underlying system 
          to develop reliable, cost-effective solutions to not only solve the problem, but improve the pertinent system 
          to prevent similar problems in the future.
          I'm most attracted to working on projects that are aimed at streamlining routine processes or codea but retain all original functionality.
          I'm looking for an entry or junior level contributor role with potential for increasing levels of responsibility
          where I can help move a product forward in the development cycle and gain experience managing and contributing to projects as well as 
           developing and deploying full-stack web applications.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Built a self-hosted podcast indexing and listening web application. Built on a MERN stack and hosted on IONOS.
    			</li>
          <li>
            Created bash scripts to automate regular file operations and deliveries within a radio automation system.
            Kept our operation from having to purchase additional software when upgrading radio automation software.
          <li>
            Created a workflow for producing regular radio content in remote locations to facilitate usual programming during COVID.
          <li>
            Completely reverse-engineered automation and production systems with minimal documentation after taking over engineering duties following a co-worker's retirement.
          </li>
    			<li>
            Rebuilt or reworked every production and on-air studio in our radio station.
          </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
