<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>AI</b>. AI is a hot topic within the tech industry. I started learning about the possibilities of AI more than 20 years ago at a summer camp, and 
				 the past year has seen more development and improvement to available AI tools than in the previous 19. I've used a few new tools, such as the Cursor IDE and Warp
				 terminal that hold incredible potential for improving code and streamlining development.
			  </li>
			  <li>
				  <b>Low voltage electronics</b>. I've been a guitar and bass player since I was in high school, and I learned how to solder at almost the same time. In recent years, I've 
				  takne to building effects pedals on PCBs to change the sound of the electric guitar I'm playing. I also built an adapter box to use Nintendo 64 controllers with my PC via USB.
			  </li>
			  <li>
				  <b>Cycling</b>. I'm an avid cyclist, and I commute roughly 4 miles round trip each day to and from work on my bike. A few years ago, I completely rebuilt my bike that I bought in college, 
				  allowing me to get another 10-15 years of riding out of it provided I give it regular maintenance.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
			PodderFodder is my podcast indexing and listening application that allows me to collect and listen to podcast episodes anywhere on any device.
    		</li>
      </div>
    </div>
  </div>
</section>
